body, html {
    font-family: 'Roboto', sans-serif;
    color: white;
    margin: 0;
    background-color: #212121;
    background-image: linear-gradient(147deg, #000000 0%, #303030 74%);
    /* original 434343 */
    text-shadow: none;
    box-shadow: none;
}

section {
    display: block;
    width: 100%;
    min-height: 100vh;
    padding: 60px;
}

.myAvatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 2.5%;
    margin-bottom: 1%;
}

.highlight {
    color: #bb86fc;
    /* 77AB69 */
}

.highlight2 {
    color: #bb86fc;
    /* 8139f2 */
}

.navColor {
    background-color: #212121;
}

.backdrop {
    background-image: url(/images/backdrop.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.card {
    background-color: #121212;
}

.btn-primary {
    background-color: #bb86fc;
    border: none;
}

.btn-primary:hover {
    background: white;
    color: black;
}

.contactCard {
    /* border-radius: 5px;
     background-color: #212121; */
}

#contactForm-status {
    max-width: 500px;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    border-radius: 8px;
}

#contactForm-status.success {
    background-color: #1ddecb;
    color: black;
    animation: status 2s ease forwards;
}

#contactForm-status.error {
    background-color: rgb(255, 103, 103);
    color: white;
    animation: status 2s ease forwards;
}

@keyframes contactForm-status {
    0% {
        opacity: 1;
        pointer-events: all;
    }
    90% {
        opacity: 1;
        pointer-events: all;
    }
    100% {
        opacity: 0;
        pointer-events: none;
    }
}

footer{
    text-align: center;
    padding-bottom: 30px;
    padding-left: 60px;
    padding-right: 60px;
}

i{
    color: white;
}